@if (projectsWithTimeSpent$ | async; as projectsWithTimeSpent) {
  @if (projectsWithTimeSpent.length) {
    <div class="tasks-by-project">
      <h3 style="font-weight: bold; margin-bottom: 4px; margin-top: 16px;">
        {{ T.F.PROJECT.TITLE | translate }} Time
      </h3>
      <div class="project-breakdown-wrapper">
        <div class="project-list" [@standardList]="projectsWithTimeSpent.length">
          @for (p of projectsWithTimeSpent; track trackById($index, p)) {
            <div class="project-list-item">
              <div class="color-indicator" [style.backgroundColor]="p.color || '#e0e0e0'"></div>
              <div class="project-title">{{ p.title }}</div>
              <div class="project-time" [innerHTML]="p.timeSpentToday | msToString"></div>
            </div>
          }
        </div>
        @if (pieChartData$ | async; as pieChartData) {
          <div class="project-chart">
            <lazy-chart
              [type]="'pie'"
              [labels]="pieChartData.labels"
              [datasets]="pieChartData.datasets"
              [legend]="false"
              [enableTimeframeSelector]="false"
              [height]="'200px'"
            ></lazy-chart>
          </div>
        }
      </div>
    </div>
  }
}

